.state {
	stroke-width: 1px;
	cursor: pointer;
}

.d3-tip {
	text-align: center;
	line-height: 1;
	font-size: 14px;
	padding: 4px;
	background: rgba(20, 20, 20, 0.8);
	color: #fff;
	border-radius: 2px;
}